# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
charset = utf-8
indent_style = tab
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = false
spaces_around_operators = true
tab_width = 2
indent_size = 2

ij_continuation_indent_size = 2
ij_any_align_multiline_parameters = false

[*.yaml]
indent_style = space
tab_width = 2
[*.yml]
indent_style = space
tab_width = 2